@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.btn-group {
    margin-top: 5px;
    background-color: yellow;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn btn-secondary {
    margin-bottom: 150%;
    outline: 0 none;
}

body {
    background-image: url(images/pubgbg.png);
    background-size: cover;
}

input[type=text] {
    width: 385px;
    border-radius: 5px;
    outline: 0 none;
}

.text-center {
    position: absolute;
}

#search1 {
    float: left;
}

#search2 {
    float: left;
}

label.btn.focus{
    outline: 0 none;
    box-shadow:none;
}
