@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

.btn-group {
    margin-top: 5px;
}

body {
    background-image: url(images/pubgbg.png);
    background-size: cover;
}

input[type=text] {
    width: 50%;
    margin-top: 20%;
    border-radius: 5px;
}

.text-center > img {
    margin-top: 50px;
}
